#login, #loggedin {
  display: none;
}
#login{
  padding-top: 10px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#One,#Two,#Three{
  float: left;
  width: 33%;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
}
#success{
  color: #35CB46;
  text-align: center;
  font-size: 125px;
  font-family: open sans;
  padding-left: calc(45% - 125px);
  float: left;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
body{
  background-color: #1E1E1E;
}

#login_button{
  background-color: #35CB46;
  border-color: #35CB46;
}


#headContainer{
  background-image: url('../images/Skyline.jpg');
  width: 100%;
  height: 200px;
}
#photoContainer{
padding-left: 20px;
}
h1{
  color: white;
  padding-left: 20px;

}
#Device_Key{
  color: black;
}
#Router_Key{
  color: black;
}
#detailContainer{
  background-color: #1E1E1E;
  width: 100%;
  height: 150px;
}
#AndroidContanor{
  width: 100%;
  height: 675px;
  background-color: #262626;
  padding-bottom: 20px;
  padding-top: 10px;
}
#androidPic1,#androidPic2,#androidPic3,#androidPic4{
  float: left;
  padding: 10px;

}
#androidInstruction{
  text-align: center;
}
#IphoneContanor{
  width: 100%;
  height: 660px;
  background-color: #1E1E1E;
}
h1{
  font-family: open sans;

}
#androidInstruction,#IphoneInstruction{
  color: white;
}
#IphonePic1,#IphonePic2,#IphonePic3,#IphonePic4{
  float: left;
  padding: 10px;

}
#IphoneInstruction{
  text-align: center;
}
